[submodule "Singleton"]
	path = Singleton
	url = git@github.com:xytis/typedef-singleton.git
[submodule "Logger"]
	path = Logger
	url = git@github.com:xytis/tiny-logger.git
[submodule "ThreadWatcher"]
	path = ThreadWatcher
	url = git@github.com:xytis/thread_watcher.git
