[submodule "Singleton"]
	path = Singleton
	url = git@github.com:xytis/typedef-singleton.git
[submodule "Logger"]
	path = Logger
	url = git@github.com:xytis/tiny-logger.git
[submodule "ThreadWatcher"]
	path = ThreadWatcher
	url = git@github.com:xytis/thread-watcher.git
[submodule "Skeleton"]
	path = Skeleton
	url = git@github.com:xytis/cmake-skeleton.git
[submodule "HeapAllocator"]
	path = HeapAllocator
	url = git@github.com:xytis/heap-allocator.git
[submodule "MiniBind"]
	path = MiniBind
	url = git@github.com:xytis/mini-bind.git
